:root {
    --background: #fff;
    --card-background: #fff;
    --btn-background:  #26a69a;
    --text-color: #000;
    --text-secondry-color: #f6ffff;
    --nav-background-color: #1f2b3d;
}

[data-theme="dark"] {
    --background: #121212;
    --card-background: #1d1d1d;
    --btn-background:  #26a69a;
    --heading-color: #fff;
    --text-color: #9f9f9f;
    --text-secondry-color: #f6ffff;
    --nav-background-color: #1f2b3d;
}
